<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{subject}}</title>
</head>

<body>
  <style>
    body {
      background: #555;
    }

    .main-info {
      color: #f8b62d;
    }

    .stdcolor {
      color: #e16b24;
    }

  </style>
  <div>
    <div>
      <a href="{{site}}{{musiclink.get_absolute_url}}">{{site}}{{musiclink.get_absolute_url}}</a>
      <hr>
      <p align="center">
        <a href="{{site}}">
          <h1 class="main-info">WORK<span class="stdcolor">★</span>BGM CLUB</h1>
        </a>
      </p>
    </div>
  </div>
</body>

</html>
