<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Work BGM Club - 隱私權政策</title>
</head>

<body>

  <h2>隱私權政策</h2>

  HitSong 身為資料管控者 (以下稱「HitSong」或「我方」)，處理我方客戶之個人資料與隱私時力求透明。為達此目的，我方發佈此隱私權原則，以就下列主題告知客戶 (以下稱「一般使用者」或「您」)：
  <ul>
    <li>個人資料之處理</li>
    <li>資料保密性</li>
    <li>資料主體之權利</li>
  </ul>

  <h3>個人資料之處理</h3>
  在本機安裝我方產品並建置 HitSong 所提供之服務時，HitSong 係依據一般使用者授權合約 (以下稱「EULA」)
  提供該服務，但您可能需特別注意某些服務。針對與提供產品及服務相關的資料處理行為，我方提供您更多詳細資訊。我方提供 EULA
  及文件中所述之許多服務，例如管理 HitSong 安全性產品。為使上述服務皆正常運作，我方需收集下列資訊：
  <ul>
    <li>安裝程序的相關資料，包括您的產品所安裝的平台，我方產品之操作與功能的資訊，例如硬體指紋、安裝
      ID、當機傾印、授權 ID、IP 位址、MAC 位址、產品組態設定，其中可能包括受管理裝置。</li>
    <li>為進行計費、真實性驗證及提供我方服務，我方均需授權資訊，例如授權 ID 和姓名、地址、電子郵件等個人資料。</li>
    <li>支援服務可能需要使用您的支援要求中包含的連絡資訊。根據您選擇聯絡我方的管道，我方可能收集您的電子郵件地址、電話號碼、授權資訊、產品詳細資料及支援案例說明。為協助支援服務，我方可能要求您提供其他資訊，例如產生的記錄檔。</li>
    <li>工作階段結束時，有關使用我方服務的資料皆完全匿名。工作階段結束後，我方不會儲存任何可辨識個人的資訊。</li>
  </ul>
  管理 HitSong 安全性產品需要並會儲存下列資訊：安裝 HitSong 安全性產品的受管理電腦的基座 ID 和名稱、產品名稱、授權資訊、啟動和到期資訊、硬體和軟體資訊。收集並提供受管理 HitSong 安全性產品和裝置的活動記錄，是為了協助進行管理和監督的功能和服務，且不會自動提交給 HitSong。

  <h3>資料保密性</h3>
  為確實應對潛在風險，HitSong 會實施適當之技術及組織措施，以設定適當之安全性層級。我方竭盡所能，確保處理系統及服務持續具備保密性、完整性、可用性、持久性。然而，若資料洩漏對您的權利及自由造成風險，我方會通知監管當局及資料主體。資料主體有權對監管當局投訴。

  資料主體之權利。
  HitSong 受中華民國（ROC）法律規範。每個資料主體皆有下列權利：
  <ol>
    <li>有權自 HitSong 請求存取您的個人資料，</li>
    <li>若您的個人資料不正確，則有權修正之（亦有權完整填寫不完整之個人資料），</li>
    <li>請求清除您的個人資料，</li>
    <li>請求對您的個人資料之處理加諸限制</li>
    <li>有權拒絕處理，</li>
    <li>並有權享有資料可攜性。</li>
  </ol>

  我方相信所處理的每項資訊對追求我方的合法利益皆有價值且為必要，合法利益係指向客戶提供服務和產品。
  若您欲行使資料主體權利，或您有問題或疑慮，請將訊息寄送至此，以聯絡我們：
  service@dwave.cc

</body>

</html>
